
{% extends "base.html" %}

{% block title %}Usuarios{% endblock %}

{% block content %}
<ol class="breadcrumb">
            <li><a href="/">Dashboard</a></li>
            <li class="active">Usuarios</li>
          </ol>
          <h1>Usuarios</h1>
          <div class="row">
            <div class="col-md-12">
              <div class="btn-group pull-right" id="templatemo_sort_btn">
              </div>
              <div class="table-responsive">
                <table class="table table-striped table-hover table-bordered">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Username</th>
                      <th>email</th>
                      <th>is Admin</th>
                      <th>Created</th>
                      <th>Updated</th>
                      <th>Last Login</th>
                      <th>Delete</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for usuario in usuarios %}
                    <tr>
                      <td><a href="{{ url_for('usuarios.usuario', usuario_id=usuario.id) }}">{{ usuario.id }}</a></td>
                      <td>{{ usuario.username|d('', true) }}</td>
                      <td>{{ usuario.email|d('', true) }}</td>
                      <td>{{ usuario.is_admin|d('', true) }}</td>
                      <td>{{ usuario.created|d('', true) }}</td>
                      <td>{{ usuario.updated|d('', true) }}</td>
                      <td>{{ usuario.last_login|d('', true) }}</td>
                      <td><a href="#" class="btn btn-default">Edit</a></td>
                    </tr> 
                    {% endfor %}             
                  </tbody>
                </table>
              </div>
              <ul class="pagination pull-right">
                {% if usuarios.has_prev %}
                    <li><a href="{{ url_for('usuarios.usuarios_index', page=usuarios.prev_num) }}">&laquo;</a></li>
                {% endif %}
                {%- for page in usuarios.iter_pages() %}
                  {% if page %}
                    {% if page != usuarios.page %}
                                <li><a href="{{ url_for('usuarios.usuarios_index', page=page) }}">{{ page }} <span class="sr-only">(current)</span></a></li>
                        {% else %}
                                <li class="active"><a href="#">{{ page }} <span class="sr-only">(current)</span></a></li>
                        {% endif %}
                    {% else %}
                    {{ page.next_num }}
                  {% endif %}
                {%- endfor %}
                {% if usuarios.has_next %}
                  <li><a href="{{ url_for('usuarios.usuarios_index', page=usuarios.next_num) }}">&raquo;</a></li>
                {% endif %}
              </ul>
            </div>
          </div>

{% endblock %}