
FLASK_APP = run.py
FLASK_DEBUG = development
CONFIG_TYPE = config.DevelopmentConfig
SECRET_KEY = ''
MAIL_SERVER = ''
MAIL_PORT = 995
MAIL_USERNAME = ''
MAIL_PASSWORD = ''
MAIL_SEND = ''
MAIL_FROM = ''