[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-login = "*"
flask-sqlalchemy = "*"
psycopg2 = "*"
werkzeug = "*"
jinja2 = "*"
flask-wtf = "*"
flask-migrate = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.10"
