
{% extends "base.html" %}

{% block title %}Sorteos{% endblock %}

{% block content %}
<ol class="breadcrumb"><li><a href="/">Dashboard</a></li><li class="active">Sorteos</li>
          </ol>
          <h1>Sorteos</h1>
          <div class="row">
            <div class="col-md-12">
                <div class="col-md-6 col-sm-6 margin-bottom-30">
                    <div class="panel panel-primary">
                      <div class="panel-heading">Sorteo Detalle</div>
                      <div class="panel-body">
                        <div class="list-group">
                          <a href="#" class="list-group-item"><strong>Id Sorteo:</strong> {{ sorteo.id_sorteo }}</a>
                          <a href="#" class="list-group-item"><strong>Fecha Sorteo:</strong> {{ sorteo.fecha_sorteo }}</a>                          
                          <a href="#" class="list-group-item"><strong>Dia Semana: </strong>{{ sorteo.dia_semana }}</a>
                          <a href="#" class="list-group-item"><strong>Nombre: </strong>{{ sorteo.nombre }}</a>
                          <a href="#" class="list-group-item"><strong>Game Id: </strong> {{ sorteo.game_id }}</a>
                          <a href="#" class="list-group-item"><strong>Año: </strong>{{ sorteo.anyo }}</a>
                          <a href="#" class="list-group-item"><strong>Número Sorteo:</strong>{{ sorteo.numero_sorteo }}</a>
                          <a href="#" class="list-group-item"><strong>Lugar: </strong>{{ sorteo.lugar }}</a>
                          <a href="#" class="list-group-item"><strong>Premio Bote: </strong>{{ sorteo.premio_bote }}</a>
                          <a href="#" class="list-group-item"><strong>Cdc: </strong>{{ sorteo.cdc }}</a>
                          <a href="#" class="list-group-item"><strong>Apuestas: </strong>{{ sorteo.apuestas }}</a>
                          <a href="#" class="list-group-item"><strong>Recaudacion: </strong>{{ sorteo.recaudacion }}</a>
                          <a href="#" class="list-group-item"><strong>Combinacion json: </strong>{{ sorteo.combinacion_json }}</a>
                          <a href="#" class="list-group-item"><strong>Premios: </strong>{{ sorteo.premios }}</a>
                          <a href="#" class="list-group-item"><strong>Fondo Bote: </strong>{{ sorteo.fondo_bote }}</a>
                          <a href="#" class="list-group-item"><strong>Escrutinio: </strong>{{ sorteo.escrutinio }}</a>
                        </div>
                      </div>
                    </div>
                    {% if sorteo.loteria_nacional_combinacion %}
                      <div class="panel panel-primary">
                        <div class="panel-heading">Loteria Nacional Combinacion</div> 
                          <div class="list-group">
                            {% for combinacion in sorteo.loteria_nacional_combinacion %}
                              <a href="#" class="list-group-item"><strong>Primer Premio</strong> {{ combinacion.primer_premio }}</a>
                              <a href="#" class="list-group-item"><strong>Segundo Premio </strong> {{ combinacion.segundo_premio }}</a>
                              <a href="#" class="list-group-item"><strong>Tercer Premio </strong> {{ combinacion.tercer_premio }}</a>
                              <a href="#" class="list-group-item"><strong>Cuarto Premio </strong> {{ combinacion.cuarto_premio }}</a>
                              <a href="#" class="list-group-item"><strong>Quinto Premio </strong> {{ combinacion.quinto_premio }}</a>
                              <a href="#" class="list-group-item"><strong>Fraccion </strong> {{ combinacion.fraccion }}</a>
                              <a href="#" class="list-group-item"><strong>Serie </strong> {{ combinacion.serie }}</a>
                            {% endfor %}
                          </div>
                        </div>
                      </div>
                    {% endif %}
                    {% if sorteo.bonoloto_combinacion %}
                      <div class="panel panel-primary">
                        <div class="panel-heading">Bonoloto Combinacion</div>
                        <div class="panel-body">
                          <div class="list-group">
                            {% for combinacion in sorteo.bonoloto_combinacion %}
                            <a href="#" class="list-group-item"><strong>Bola 1 </strong> {{ combinacion.bola_1 }}</a>
                            <a href="#" class="list-group-item"><strong>Bola 2 </strong> {{ combinacion.bola_2 }}</a>
                            <a href="#" class="list-group-item"><strong>Bola 3 </strong> {{ combinacion.bola_3 }}</a>
                            <a href="#" class="list-group-item"><strong>Bola 4 </strong> {{ combinacion.bola_4 }}</a>
                            <a href="#" class="list-group-item"><strong>Bola 5 </strong> {{ combinacion.bola_5 }}</a>
                            <a href="#" class="list-group-item"><strong>Bola 6 </strong> {{ combinacion.bola_6 }}</a>
                            <a href="#" class="list-group-item"><strong>Complementario </strong> {{ combinacion.complementario }}</a>
                            <a href="#" class="list-group-item"><strong>Reintegro </strong> {{ combinacion.reintegro }}</a>
                            {% endfor %}
                          </div>
                        </div>
                      </div>
                    {% endif %}
                    {% if sorteo.primitiva_combinacion %}
                      <div class="panel panel-primary">
                        <div class="panel-heading">Primitiva Combinacion</div>
                        <div class="panel-body">
                          <div class="list-group">
                            {% for combinacion in sorteo.primitiva_combinacion %}
                            <a href="#" class="list-group-item"><strong>Bola 1 </strong> {{ combinacion.bola_1 }}</a>
                            <a href="#" class="list-group-item"><strong>Bola 2 </strong> {{ combinacion.bola_2 }}</a>
                            <a href="#" class="list-group-item"><strong>Bola 3 </strong> {{ combinacion.bola_3 }}</a>
                            <a href="#" class="list-group-item"><strong>Bola 4 </strong> {{ combinacion.bola_4 }}</a>
                            <a href="#" class="list-group-item"><strong>Bola 5 </strong> {{ combinacion.bola_5 }}</a>
                            <a href="#" class="list-group-item"><strong>Bola 6 </strong> {{ combinacion.bola_6 }}</a>
                            <a href="#" class="list-group-item"><strong>Complementario </strong> {{ combinacion.complementario }}</a>
                            <a href="#" class="list-group-item"><strong>Reintegro </strong> {{ combinacion.reintegro }}</a>
                            {% endfor %}
                          </div>
                        </div>
                      </div>
                    {% endif %}
                    {% if sorteo.gordo_primitiva_combinacion %}
                      <div class="panel panel-primary">
                        <div class="panel-heading">Gordo Primitiva Combinacion</div>
                        <div class="panel-body">
                          <div class="list-group">
                            {% for combinacion in sorteo.gordo_primitiva_combinacion %}
                            <a href="#" class="list-group-item"><strong>Bola 1 </strong> {{ combinacion.bola_1 }}</a>
                            <a href="#" class="list-group-item"><strong>Bola 2 </strong> {{ combinacion.bola_2 }}</a>
                            <a href="#" class="list-group-item"><strong>Bola 3 </strong> {{ combinacion.bola_3 }}</a>
                            <a href="#" class="list-group-item"><strong>Bola 4 </strong> {{ combinacion.bola_4 }}</a>
                            <a href="#" class="list-group-item"><strong>Bola 5 </strong> {{ combinacion.bola_5 }}</a>
                            <a href="#" class="list-group-item"><strong>Clave </strong> {{ combinacion.clave }}</a>
                            {% endfor %}
                          </div>
                        </div>
                      </div>
                    {% endif %}
                    {% if sorteo.euromillones_combinacion %}
                      <div class="panel panel-primary">
                        <div class="panel-heading">Euromillones Combinacion</div>
                        <div class="panel-body">
                          <div class="list-group">
                            {% for combinacion in sorteo.euromillones_combinacion %}
                              <a href="#" class="list-group-item"><strong>Bola 1 </strong> {{ combinacion.bola_1 }}</a>
                              <a href="#" class="list-group-item"><strong>Bola 2 </strong> {{ combinacion.bola_2 }}</a>
                              <a href="#" class="list-group-item"><strong>Bola 3 </strong> {{ combinacion.bola_3 }}</a>
                              <a href="#" class="list-group-item"><strong>Bola 4 </strong> {{ combinacion.bola_4 }}</a>
                              <a href="#" class="list-group-item"><strong>Bola 5 </strong> {{ combinacion.bola_5 }}</a>
                              <a href="#" class="list-group-item"><strong>Estrella 1</strong> {{ combinacion.estrella_1 }}</a>
                              <a href="#" class="list-group-item"><strong>Estrella 2 </strong> {{ combinacion.estrella_2 }}</a>
                            {% endfor %}
                          </div>
                        </div>
                      </div>
                    {% endif %}
                    {% if sorteo.quiniela_partidos %}
                      <div class="panel panel-primary">
                        <div class="panel-heading">Quiniela Partidos</div>
                        <div class="panel-body">
                          <table class="table table-striped">
                            <thead>
                              <tr>
                                <th>Local</th>
                                <th>Visitante</th>
                                <th>Signo</th>
                                <th>Marcador</th>
                              </tr>
                            </thead>
                            <tbody>
                              {% for partido in sorteo.quiniela_partidos %}
                              <tr>
                                <td>{{ partido.local }}</td>
                                <td>{{ partido.visitante }}</td>
                                <td>{{ partido.signo }}</td>
                                <td>{{ partido.marcador }}</td>
                              </tr>
                              {% endfor %}
                            </tbody>
                          </table>
                        </div>
                      </div>
                    {% endif %}
                    {% if sorteo.quinigol_partidos %}
                      <div class="panel panel-primary">
                        <div class="panel-heading">Quinigol Partidos</div>
                        <div class="panel-body">
                          <table class="table table-striped">
                            <thead>
                              <tr>
                                <th>Local</th>
                                <th>Visitante</th>
                                <th>Signo</th>
                                <th>Marcador</th>
                              </tr>
                            </thead>
                            <tbody>
                              {% for partido in sorteo.quinigol_partidos %}
                              <tr>
                                <td>{{ partido.local }}</td>
                                <td>{{ partido.visitante }}</td>
                                <td>{{ partido.signo }}</td>
                                <td>{{ partido.marcador }}</td>
                              </tr>
                              {% endfor %}
                            </tbody>
                          </table>
                        </div>
                      </div>
                    {% endif %}
                    {% if sorteo.lototurf_combinacion %}
                      <div class="panel panel-primary">
                        <div class="panel-heading">Lototurf Combinacion</div>
                        <div class="panel-body">
                          <div class="list-group">
                            {% for combinacion in sorteo.lototurf_combinacion %}
                            <a href="#" class="list-group-item"><strong>Bola 1 </strong> {{ combinacion.bola_1 }}</a>
                            <a href="#" class="list-group-item"><strong>Bola 2 </strong> {{ combinacion.bola_2 }}</a>
                            <a href="#" class="list-group-item"><strong>Bola 3 </strong> {{ combinacion.bola_3 }}</a>
                            <a href="#" class="list-group-item"><strong>Bola 4 </strong> {{ combinacion.bola_4 }}</a>
                            <a href="#" class="list-group-item"><strong>Bola 5 </strong> {{ combinacion.bola_5 }}</a>
                            <a href="#" class="list-group-item"><strong>Bola 6 </strong> {{ combinacion.bola_6 }}</a>
                            <a href="#" class="list-group-item"><strong>Caballo </strong> {{ combinacion.caballo }}</a>
                            <a href="#" class="list-group-item"><strong>Reintegro </strong> {{ combinacion.reintegro }}</a>
                            {% endfor %}
                          </div>
                        </div>
                      </div>
                    {% endif %}
                    {% if sorteo.quintuple_plus_combinacion %}
                      <div class="panel panel-primary">
                        <div class="panel-heading">Lototurf Combinacion</div>
                        <div class="panel-body">
                          <div class="list-group">
                            {% for combinacion in sorteo.quintuple_plus_combinacion %}
                            <a href="#" class="list-group-item"><strong>Caballo 1 </strong> {{ combinacion.bola_1 }}</a>
                            <a href="#" class="list-group-item"><strong>Caballo 2 </strong> {{ combinacion.bola_2 }}</a>
                            <a href="#" class="list-group-item"><strong>Caballo 3 </strong> {{ combinacion.bola_3 }}</a>
                            <a href="#" class="list-group-item"><strong>Caballo 4 </strong> {{ combinacion.bola_4 }}</a>
                            <a href="#" class="list-group-item"><strong>Caballo 5 </strong> {{ combinacion.bola_5 }}</a>
                            <a href="#" class="list-group-item"><strong>Caballo 6 </strong> {{ combinacion.bola_6 }}</a>
                            {% endfor %}
                          </div>
                        </div>
                      </div>
                    {% endif %}
                    <span class="btn btn-primary"><a href="/sorteos">Sorteos</a></span>
                  </div>
            </div>
          </div>

{% endblock %}