
{% extends "base.html" %}

{% block title %}Sorteos{% endblock %}

{% block content %}
<ol class="breadcrumb">
            <li><a href="/">Dashboard</a></li>
            <li class="active">Sorteos</li>
          </ol>
          <h1>Sorteos</h1>
          <div class="row">
            <div class="col-md-12">
              <div class="btn-group pull-right" id="templatemo_sort_btn">
                <button type="button" class="btn btn-default">Filtro</button>
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                  <span class="caret"></span>
                  <span class="sr-only">Filtro</span>
                </button>
                <ul class="dropdown-menu" role="menu">
                  {% for key, value in tipos_sorteo %}
                    <li><a href="{{ url_for('sorteos.sorteo_tipo_sorteo', tipo_sorteo=key ) }}">{{ value }}</a></li>
                  {% endfor %}
                </ul>
              </div>
              <div class="table-responsive">
                <h4 class="margin-bottom-15"></h4>
                <table class="table table-striped table-hover table-bordered">
                  <thead>
                    <tr>
                      <th>Id Sorteo</th>
                      <th>Nombre</th>
                      <th>Fecha Sorteo</th>
                      <th>Dia Semana</th>
                      <th>Game id</th>
                      <th>Número Sorteo</th>
                      <th>Premio Bote</th>
                      <th>Apuestas</th>
                      <th>Recaudacion</th>
                      <th>Combinacion</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for sorteo in sorteos %}
                    {{ sorteo|escape }}
                    <tr>
                      <td><a href="{{ url_for('sorteos.sorteo', sorteo_id=sorteo.id) }}">{{ sorteo.id_sorteo }}</a></td>
                      <td>{{ sorteo.nombre|d('', true) }}</td>
                      <td>{{ sorteo.fecha_sorteo.format('%d-%m-%Y') }}</td>
                      <td>{{ sorteo.dia_semana|d('', true) }}</td>
                      <td>{{ sorteo.game_id }}</td>
                      <td>{{ sorteo.numero_sorteo|d('', true) }}</td>     
                      <td>{{ sorteo.premio_bote|d('', true) }}</td> 
                      <td>{{ sorteo.apuestas|d('', true) }}</td>
                      <td>{{ sorteo.recaudacion|d('', true) }}</td>
                      <td></td>
                      <td>
                        <div class="btn-group">
                          <button type="button" class="btn btn-info">Action</button>
                          <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
                            <span class="caret"></span>
                            <span class="sr-only">Toggle Dropdown</span>
                          </button>
                          <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Bootstrap</a></li>
                            <li><a href="#">Font Awesome</a></li>
                            <li><a href="#">jQuery</a></li>
                          </ul>
                        </div>
                      </td>
                    </tr>   
                    {% endfor %}
                  </tbody>
                </table>
              </div>
              <ul class="pagination pull-right">
                {% if sorteos.has_prev %}
                    <li><a href="{{ url_for('sorteos.sorteos_index', page=sorteos.prev_num) }}">&laquo;</a></li>
                {% endif %}
                {%- for page in sorteos.iter_pages() %}
                  {% if page %}
                    {% if page != sorteos.page %}
                                <li><a href="{{ url_for('sorteos.sorteos_index', page=page) }}">{{ page }} <span class="sr-only">(current)</span></a></li>
                        {% else %}
                                <li class="active"><a href="#">{{ page }} <span class="sr-only">(current)</span></a></li>
                        {% endif %}
                    {% else %}
                    {{ page.next_num }}
                  {% endif %}
                {%- endfor %}
                {% if sorteos.has_next %}
                  <li><a href="{{ url_for('sorteos.sorteos_index', page=sorteos.next_num) }}">&raquo;</a></li>
                {% endif %}
 
              </ul>  
            </div>
          </div>

{% endblock %}